<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Yelp Camp</h2>
            <div class="list-group">
                <li class="info list-group-item"> Info 1</li>
                <li class="info list-group-item"> Info 2</li>
                <li class="info list-group-item"> Info 3</li>
            </div>
            <!--<div id="map"></div>-->
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= camp.image %>">
                <div class="caption-full">
                    <h3 class="pull-right">$<%= camp.price %>/Night</h3>
                    <h1><a><%= camp.name %></a></h1>
                    <p style="text-align: left; margin: 30px auto"><%= camp.description %></p>
                    <p>
                        <strong>Submitted by <em><%= camp.author.username %></em></strong>
                    </p>
                    <% if (user && camp.author.id.equals(user._id)) { %>
                        <a href="/campground/<%= camp._id %>/edit" class="btn btn-warning">Edit</a>
                        <form class="delete" action="/campground/<%= camp._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campground/<%= camp._id %>/comment/new">New Comment</a>
                </div>
                <hr style="margin: 10px 0; border-bottom: 1px solid grey;">
                <% camp.comment.forEach(function(data) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <strong><%= data.author.username %></strong>
                                <span class="pull-right"><%= moment(data.createdAt).fromNow() %></span>
                            </p>
                            <p><%= data.text %></p>
                            <% if (user && data.author.id.equals(user._id)) { %>
                                <a class="btn btn-warning"
                                   href="/campground/<%= camp._id %>/comment/<%= data._id %>/edit">
                                   Edit
                                </a>
                                <form class="delete" action="/campground/<%= camp._id %>/comment/<%= data._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            <% } %>
                            <div style="margin: 10px 0; border-bottom: 1px solid grey;"></div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>